<!--
  ~ Copyright 2019 Infosys Ltd.
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
-->
<!-- Begin page content -->
<div class="">
	<div>
		<div class="modal-header headerStyle"
			style="border-bottom: 1px solid #000000; color: white; background-color: rgba(21, 31, 42, 0.89);">
			<h4 class="modal-title" id="modal-title">
				<i class="fa fa-sort-amount-desc" style="font-size: 25px;"></i> <span
					ng-show="configAction=='view'">View Process Adapter
					Configuration</span> <span ng-show="configAction=='edit'">Update
					Process Adapter Configuration</span><i class="fa fa-times pull-right"
					ng-click="cancel(editProcessPopUp,'process')"
					style="cursor: pointer;"></i>
			</h4>
			<!-- 	<h4 class="modal-title" id="modal-title" style="text-align: left;">
				Source Configuration</h4> -->
		</div>
		<div class="modal-body-small" id="modal-body" style="font-size: 13px;">

			<div class="clearfix"></div>
			<div role="tabpanel">
				<ul class="nav nav-tabs" style="background-color: #f7f7f7;">
					<li class="active" style="padding-left: 2px"><a
						data-target="#basic" name="basic" data-toggle="tab">Basic
							Configuration</a></li>
					<li><a data-target="#advanced" name="advanced"
						data-toggle="tab">Advanced Options</a></li>
				</ul>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">

						<form id="editform" name="editform" data-parsley-validate
							class="form-horizontal"
							ng-submit="editform.$valid && saveEditConfig('process',processRecord)">
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active" id="basic">
									<div
										style="height: 450px; overflow-y: scroll; overflow-x: hidden; padding-top:20px;">

										<div class="row">
											<div
												class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

												<label class="control-label col-md-3 col-sm-3 col-xs-12"
													style="padding-top: 6px; text-align: left;">Process
													Config Name <span class="required">*</span>
												</label>

												<div class="col-md-8 col-sm-8 col-xs-12">
													<input type="string" id="processName" name="processName"
														class="form-control"
														ng-class="{inputView : configAction === 'view'}"
														ng-model="processRecord.strProcessConfigName"
														placeholder="eg. SparkConfig" ng-required="true"
														maxlength=100 ng-pattern="/^[a-zA-Z0-9-_\s]*$/"
														ng-trim="false"><span class="error"
														ng-messages="editform.processName.$error"
														style="color: red"> <span ng-message="required"
														ng-show="editform.processName.$error.required && editform.processName.$dirty">
															Name cannot be empty</span> <span ng-message="pattern"
														ng-show="editform.processName.$error.pattern">Special
															characters are not allowed</span>
													</span>
												</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div
												class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">
												<div class="form-group">

													<label class="control-label col-md-3 col-sm-3 col-xs-12"
														style="padding-top: 6px; text-align: left;">Process
														Type <span class="required">*</span>
													</label>

													<div class="col-md-8 col-sm-8 col-xs-12">
														<select class="form-control"
															ng-class="{inputView : configAction === 'view'}"
															ng-model="processTypes.selected"
															ng-options="processes as processes.display for processes in
								processTypes"
															ng-change="select('process',processTypes.selected)"
															ng-required="true">
															<option value="" disabled selected hidden>Select
																Process</option>
														</select>

													</div>
												</div>
											</div>
											<!-- <div ng-show="isFlume"> -->
										</div>
										<br>
										<div ng-show="processTypes.selected.name == 'spark'">
											<div class="row">
												<div
													class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

													<label class="control-label col-md-3 col-sm-3 col-xs-12"
														style="padding-top: 6px; text-align: left;">Deployment
														Mode <span class="required">*</span>
													</label>


													<div class="col-md-8 col-sm-8 col-xs-12">
														<select class="form-control"
															ng-class="{inputView : configAction === 'view'}"
															ng-model="Deployementmodes.selected"
															ng-options="mode as mode.name for mode in Deployementmodes"
															ng-required="processTypes.selected.name == 'spark'">
															<option value="" disabled selected hidden>Select
																Process</option>
														</select>

													</div>
												</div>
											</div>
											<br>
											<div ng-show="Deployementmodes.selected.name == 'standalone'">
												<div class="row">
													<div
														class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

														<label class="control-label col-md-3 col-sm-3 col-xs-12"
															style="padding-top: 6px; text-align: left;">URL <span
															class="required">*</span>
														</label>

														<div class="col-md-8 col-sm-8 col-xs-12">
															<input type="string" id="modeURL" name="modeURL" size=40
																class="form-control"
																ng-class="{inputView : configAction === 'view'}"
																ng-model="processRecord.formatDetails.standaloneURL"
																ng-required="Deployementmodes.selected.name == 'standalone'"
																ng-pattern="/^[a-zA-Z0-9-_.:/\s]*$/"><span
																class="error" ng-messages="editform.modeURL.$error"
																style="color: red"> <span ng-message="required"
																ng-show="editform.modeURL.$error.required && editform.modeURL.$dirty">
																	Value cannot be empty</span> <span ng-message="pattern"
																ng-show="editform.modeURL.$error.pattern">Special
																	characters are not allowed </span>
															</span>
														</div>
													</div>
												</div>
												<br>
											</div>
											<div ng-show="Deployementmodes.selected.name == 'local'">
												<div class="row">
													<div
														class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

														<label class="control-label col-md-3 col-sm-3 col-xs-12"
															style="padding-top: 6px; text-align: left;">No of
															threads <span class="required">*</span>
														</label>

														<div class="col-md-8 col-sm-8 col-xs-12">
															<input type="string" id="threads" name="threads" size=40
																class="form-control"
																ng-class="{inputView : configAction === 'view'}"
																ng-model="processRecord.formatDetails.localThreads"
																ng-required="Deployementmodes.selected.name == 'local'"
																ng-pattern="/^[0-9]*$/"><span class="error"
																ng-messages="editform.threads.$error" style="color: red">
																<span ng-message="required"
																ng-show="editform.threads.$error.required && editform.threads.$dirty">
																	Value cannot be empty</span> <span ng-message="pattern"
																ng-show="editform.threads.$error.pattern">Only
																	digits allowed </span>
															</span>
														</div>
													</div>
												</div>
												<br>
											</div>
										</div>
										<br>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane" id="advanced">
									<div
										style="height: 450px; overflow-y: scroll; overflow-x: hidden; padding-top:20px;">
										<div ng-show="processTypes.selected.name == 'spark'">
											<div class="row">
												<div
													class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

													<label class="control-label col-md-3 col-sm-3 col-xs-12"
														style="padding-top: 6px; text-align: left;">Minibatch
														interval(sec) <!-- <span class="required">*</span> -->
													</label>

													<div class="col-md-8 col-sm-8 col-xs-12">
														<input type="int" id="miniBatch" name="miniBatch" size=40
															class="form-control"
															ng-class="{inputView : configAction === 'view'}"
															ng-model="processRecord.formatDetails.nBatchInterval"
															ng-pattern="/^[0-9]*$/"><span class="error"
															ng-messages="editform.miniBatch.$error"
															style="color: red"> <span ng-message="required"
															ng-show="editform.miniBatch.$error.required && editform.miniBatch.$dirty">
																Value cannot be empty</span> <span ng-message="pattern"
															ng-show="editform.miniBatch.$error.pattern">Only
																digits allowed </span>
														</span>
													</div>
												</div>

											</div>
											
											<!-- <div class="row">
												<br>
												<div
													class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

													<label class="control-label col-md-3 col-sm-3 col-xs-12"
														style="padding-top: 6px; text-align: left;">Executor
														max cores <span class="required">*</span>
													</label>

													<div class="col-md-8 col-sm-8 col-xs-12">
														<input type="int" id="sparkCore" size=40
															class="form-control"
															ng-model="processRecord.formatDetails.nExcMaxcore">
													</div>
												</div>

											</div>
											<br>
											<div class="row">
												<div
													class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

													<label class="control-label col-md-3 col-sm-3 col-xs-12"
														style="padding-top: 6px; text-align: left;">Executor
														max memory in GB<span class="required">*</span>
													</label>

													<div class="col-md-8 col-sm-8 col-xs-12">
														<input type="int" id="sparkexecutorMemory" size=40
															class="form-control"
															ng-model="processRecord.formatDetails.nExcMaxmem">
													</div>
												</div>

											</div>

											<br>
											<div class="row">
												<div
													class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">

													<label class="control-label col-md-3 col-sm-3 col-xs-12"
														style="padding-top: 6px; text-align: left;">Driver
														max memory in GB<span class="required">*</span>
													</label>

													<div class="col-md-8 col-sm-8 col-xs-12">
														<input type="int" id="sparkdriverMemory" size=40
															class="form-control"
															ng-model="processRecord.formatDetails.nDrvMaxmem">
													</div>
												</div>
											</div> -->
										</div>
										<div class="row">
											<div
												class="col-md-10 col-sm-10 col-xs-12 col-md-offset-1 col-sm-offset-1">
												<br> <label
													class="control-label col-md-3 col-sm-3 col-xs-12"
													style="padding-top: 6px; text-align: left; text-align: left; text-align: left;">Additional
													Params</label>
												<div class="col-md-8 col-sm-8 col-xs-12"
													ng-class="{inputView : configAction === 'view'}">
													<div>
														<table class="table table-striped table-bordered">
															<tbody>
																<tr ng-repeat="paramRec in addnParamsProcess">
																	<td><input type="text" class="form-control"
																		ng-model="paramRec.key" placeholder="Param Name"
																		maxlength=100 /></td>
																	<td><input type="text" class="form-control"
																		ng-model="paramRec.value" placeholder="Param Value"
																		maxlength=100 /></td>
																	<td>
																		<!-- <a class="btn" ng-click="addNewParam()"> <i
																				class="fa fa-plus"></i>
																		</a> -->
																		<button type="button" class="btn"
																			ng-click="addNewParam('process')">
																			<i class="fa fa-plus"></i>
																		</button>
																		<button type="button" class="btn"
																			ng-click="removeParam('process',$index)"
																			ng-show="addnParamsProcess.length>1">
																			<i class="fa fa-minus"></i>
																		</button>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--  <div class="ln_solid"></div> -->
								<div class="form-group"
									style="background-color: #f7f7f7; margin-bottom: 1px;">
									<div class="col-md-12 col-xs-12 col-sm-12"
										style="margin-top: 7px;">
										<div ng-if="success == true" id="saveSuccessRes"
											class="col-md-6 col-lg-6 col-sm-6 pull-left"
											" ng-show="saved">
											<span ng-if=id="connresponse" ><i
												class="fa fa-check-square-o" aria-hidden="true"></i>
												{{saveMessage}}</span>
										</div>
										<div ng-if="success != true" id="saveErrorRes"
											class="col-md-6 col-lg-6 col-sm-6 pull-left"
											" ng-show="saved">
											<span ng-if=id="connresponse" ><i class="fa fa-times"
												aria-hidden="true"></i> {{saveMessage}}</span>
										</div>
										<div class="col-md-6 col-lg-6 col-sm-6 pull-right">
											<div ng-show="configAction=='view'">
												<br>
											</div>
											<!-- <button type="submit" class="btn btn-primary"
										style="margin-right: 0px !important">Save</button> -->
											<button ng-show="configAction=='edit'" type="submit"
												class="btn btn-success btn-md pull-right">
												<i class="fa fa-check-square-o"></i> Update
											</button>
											<button ng-show="configAction=='edit'" type="button"
												class="btn btn-success btn-md pull-right"
												ng-click="clearConfig('process','edit',processRecord)">
												<i class="fa fa-minus-circle"></i> Clear
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

	</div>






</div>
