<!--
  ~ Copyright 2019 Infosys Ltd.
  ~ Licensed to the Apache Software Foundation (ASF) under one or more
  ~ contributor license agreements.  See the NOTICE file distributed with
  ~ this work for additional information regarding copyright ownership.
  ~ The ASF licenses this file to You under the Apache License, Version 2.0
  ~ (the "License"); you may not use this file except in compliance with
  ~ the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
-->
<!DOCTYPE html>
<html lang="en" ng-app="PortalApp">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Portal</title>
<!-- Bootstrap core CSS-->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">
<link href="css/animate.min.css" rel="stylesheet">
<link href="css/ngDialog-theme-default.css" rel="stylesheet">
<link href="css/ngDialog.css" rel="stylesheet">
<link href="css/ngDialog.min.css" rel="stylesheet">
<link href="css/ngDialog-theme-success.css" rel="stylesheet">
<link href="css/ngDialog-theme-error.css" rel="stylesheet">



<!-- Custom styling plus plugins -->
<!-- <link href="css/custom.css" rel="stylesheet"> -->
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top"
	ng-controller="MainCtrl">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<div class="navbar-brand">
			<i class="fa fa-desktop" aria-hidden="true"></i> Stream Studio
		</div>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown"
					href="#" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> <i class="fa fa-id-badge"
						aria-hidden="true"></i> {{selectedRole}}
				</a>
					<div class="dropdown-menu" aria-labelledby="alertsDropdown"
						style="right: 0; left: auto;">
						<h6 class="dropdown-header">Authorized Roles:</h6>
						<div ng-repeat="role in roles">
							<div class="dropdown-divider" style="margin: 0"></div>
							<div class="dropdown-item" ng-click="roleChange(role)">
								<span class="text-success"> <strong> <i
										class="fa fa-id-badge" aria-hidden="true"></i>
										{{role.strRoleName}}
								</strong>
								</span>
							</div>
						</div>
					</div></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-user-circle-o"></i> {{userName}}
				</a>
					<div class="dropdown-menu" aria-labelledby="alertsDropdown"
						style="right: 0; left: auto;">
						<a class="dropdown-item" data-toggle="modal" data-target="#logoutModal"> <span
							class="text-danger"> <strong> <i
									class="fa fa-fw fa-sign-out"></i> Logout</strong> </span> </a>
					</div></li>
			</ul>
		</div>
	</nav>
	<div class="content-wrapper" style="margin-left: 0px;">
		<div class="container-fluid" style="height: 525px;">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb" style="margin: 15px;">
				<li class="breadcrumb-item">
					<h3 style="margin: 0;">Visualization Portals</h3>
				</li>
				<!-- <li class="breadcrumb-item active">My Dashboard</li> -->
			</ol>
			<!-- Icon Cards-->
			<div class="col-lg-12" style="height: 80%;">
				<div class="card mb-3" style="height: 100%;">
					<div class="card-header" style="height: 100%;">
						<div
							class="content table-responsive table-full-width table-upgrade"
							style="height: 100%; overflow: auto">
							<table class="table">
								<thead>
									<th width="30%" class="text-center">Name</th>
									<th width="30%" class="text-center">Title</th>
									<th width="20%" class="text-center">Created Date</th>
									<th width="10%" class="text-center"></th>
								</thead>
								<tbody>
									<tr ng-repeat="portal in existingPortals">
										<td class="text-center">{{portal.strPortalName}}</td>
										<td class="text-center">{{portal.strPortalTitle}}</td>
										<td class="text-center">{{portal.createdDate}}</td>
										<td class="text-center"><a 
											ng-click="viewPortal(portal.portalId,selectedRoleId)"
											class="btn btn-round btn-fill btn-sm btn-info">View</a></td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid-->
		<!-- /.content-wrapper-->
		<footer class="sticky-footer" style="width: 100%;">
			<div class="container">
				<div class="text-center">
					<small>Copyright © 2017</small>
				</div>
			</div>
		</footer>
		
		<!-- Logout Modal-->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" style="padding: 5px 15px;">
						<h5 class="modal-title" id="exampleModalLabel">Ready to
							Leave?</h5>
						<button class="close" type="button" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are
						ready to end your current session.</div>
					<div class="modal-footer" style="padding: 5px 15px;">
						<button class="btn btn-secondary btn-sm" type="button"
							data-dismiss="modal">Cancel</button>
						<button class="btn btn-primary btn-sm" ng-click="logout()">Logout</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/popper/popper.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
		<!-- Page level plugin JavaScript-->
		<script src="vendor/chart.js/Chart.min.js"></script>
		<script src="vendor/datatables/jquery.dataTables.js"></script>
		<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin.min.js"></script>
		<!-- Custom scripts for this page-->
		<script src="js/sb-admin-datatables.min.js"></script>
		<script src="js/sb-admin-charts.min.js"></script>

		<script src="js/progressbar/bootstrap-progressbar.min.js"></script>
		<script src="js/nicescroll/jquery.nicescroll.min.js"></script>
		<!-- icheck -->
		<script src="js/icheck/icheck.min.js"></script>

		<script src="js/custom.js"></script>



		<!-- pace -->
		<script src="js/pace/pace.min.js"></script>

		<script src="js/angular.js"></script>
		<script src="js/angular-route.js"></script>
		<script src="js/angular-animate.js"></script>
		<script src="js/angular-sanitize.js"></script>
		<script src="js/ui-grid.js"></script>
		<script src="js/ngDialog.min.js"></script>
		<script src="js/ngDialog.js"></script>

		<script src="js/bootstrap-select.min.js"></script>
		<script src="js/select.js"></script>
		<script src="js/ui-bootstrap-tpls-0.14.3.js"></script>

		<!-- Modules/Controllers/Services JS Files -->
		<script src="app/app.js"></script>
		<script src="app/app-config.js"></script>
		<script src="app/ui-properties.js"></script>

		<script src="app/controllers/main.js"></script>
		<script src="app/controllers/portal.js"></script>
		<script src="app/factory/main-factory.js"></script>
		<script src="app/services/main-service.js"></script>
		<script type="text/ng-template" id="modalDialogLogin">
		<div class="ngdialog-message">
			<p>You are not logged in. Click <a ng-click="confirm(true)" style="color: #1983f5;cursor: pointer;">here </a> to login again.</p>			
		</div>		
	</script>
	</div>
</body>

</html>
