<!DOCTYPE html>
<html>
<head>
<title>AngularJS-FlowChart</title>

<link rel="stylesheet" href="flowchart.css" type="text/css">
<link rel="stylesheet" href="onedatastyle.css" type="text/css">
<link rel="stylesheet" href="bootstrap.min.css" type="text/css">
<link href="font-awesome.min.css" rel="stylesheet">
</head>
<body id="flowchart" class="" ng-app="flowchart-app" ng-controller="AppCtrl"
	ng-keydown="keyDown($event)" ng-keyup="keyUp($event)">
	<div class="row">
		<div class="col-md-1"
			style="height: 1000px; background: #d5d5d55c; border-right: 1px solid #3c547785; width:80px;">
			<div class="button-overlay">
				<button class="btn btn-primary btn-sm" ng-disabled="pipelineAction == 'view'" ng-click="addNewNode('Source','glyphicon glyphicon-list-alt',0,13)" title="Add a new node to then chart"><span class="glyphicon glyphicon-list-alt" style="font-size: 20px;"></span><br> Source</button>
				<button class="btn btn-primary btn-sm" ng-disabled="pipelineAction == 'view'" ng-click="addNewNode('Process','glyphicon glyphicon-share-alt',0,73)" title="Add a new node to then chart"><span class="glyphicon glyphicon-share-alt" style="font-size: 20px;"></span><br> Process</button>
				<button class="btn btn-primary btn-sm" ng-disabled="pipelineAction == 'view'" ng-click="addNewNode('Sink','glyphicon glyphicon-asterisk',0,133)" title="Add a new node to then chart"><span class="glyphicon glyphicon-asterisk" style="font-size: 20px;"></span><br> Sink</button>
				<button class="btn btn-primary btn-sm" ng-disabled="pipelineAction == 'view'" ng-click="addNewNode('Visualize','glyphicon glyphicon-stats',0,191)" title="Add a new node to then chart"><span class="glyphicon glyphicon-stats" style="font-size: 20px;"></span><br> Visualize</button>
				
				<button ng-show="false" id="saveFlowchartStep" ng-click="save()"
					title="Add a new node to then chart">save</button>
				<button ng-show="false" id="saveFlowchart" ng-click="savePipeline()"
					title="Add a new node to then chart">save Pipeline</button> 
				<!-- <button ng-click="addNewInputConnector()" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0"
				title="Add a new input connector to the selected node">
				Add Input
				</button>
				<button ng-click="addNewOutputConnector()" ng-disabled="modelservice.nodes.getSelectedNodes().length == 0"
				title="Add a new output connector to the selected node">
				Add Output
				</button>-->
				<button ng-click="deleteSelected()" 
					ng-disabled="(modelservice.nodes.getSelectedNodes().length == 0 && modelservice.edges.getSelectedEdges().length == 0) || pipelineAction == 'view'"
					title="Delete selected nodes and connections">Delete
					Selected</button> 
				<!-- <button class="btn btn-primary btn-sm" ng-click="activateWorkflow()">Activate<br> Workflow</button> -->
			</div>
		</div>
		<div class="bg-img col-md-11" style="height: 1000px;">

			<fc-canvas model="model" selected-objects="flowchartselected"
				edge-style="line" callbacks="callbacks" automatic-resize="false"></fc-canvas>
		</div>
	</div>
	<script src="angular.js"></script>
	<!-- <script src="vendor.js"></script> -->
	<script src="ngFlowchart.js"></script>
	<!-- App code. -->
	<script src="app.js" type="text/javascript"></script>
</body>
</html>
