body {
  font-family: sans-serif;
  overflow: hidden;
}

.button-overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 10;
}

.button-overlay button {
      width: 60px;
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    /* border-radius: 10px; */
    border: none;
    /* border-bottom: 1px solid #3c547785; */
    box-shadow: 2px 2px 1px #80808054;
    color: #3783a7;
    font-size: 12px;
    background-color: #ffffff;
}

.button-overlay button:hover:not(:disabled) {
 /*  border: 4px solid #b03911;
  border-radius: 5px;

  margin: -4px;
  margin-bottom: 11px; */
  background: #487ac1;
  border: none;
}

.button-overlay button:disabled {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.fc-node {
  z-index: 1;
}

.innerNode {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #73879c;
    font-size: 15px;
    width: 115px;
    border: 1px solid #239b9b;
    /* min-height: 40px; */
    box-shadow: 4px 3px 9px #999;
    font-family: sans-serif;
    font-weight: bold;
    height: 40px;
}

.fc-node.fc-hover {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.fc-node.fc-selected {
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.fc-node.fc-dragging {
  z-index: 10;
}

.fc-node p {
  padding: 0 15px;
  text-align: center;
	margin-left: 20px;
	padding-top: 8px;
}

.fc-topConnectors, .fc-bottomConnectors {
      position: absolute;
    /* left: 0; */
    width: 100%;
    display: flex;
    flex-direction: row;
    /* z-index: -10; */
}

.fc-topConnectors {
  /* top: -40px; */
      /* top: -25px; */
    right: 18px;
}

.fc-bottomConnectors {
  /* bottom: -40px; */
      left: 18px;
    /* bottom: -25px; */
}

.fc-magnet {
      display: flex;
    height: 50px;
    justify-content: center;
    /* border: 1px solid; */
    align-items: center;
    width: 30px;

  justify-content: center;
}

.fc-topConnectors .fc-magnet {
 /*  align-items: flex-end; */
}

.fc-bottomConnectors .fc-magnet {
  /* align-items: flex-start; */
  margin-left: 85px;
}

.fc-connector {
     width: 6px;
    height: 6px;
    /* border: 10px solid transparent; */
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border-radius: 50% 50%;
    background-color: #3d637b;
    color: #fff;
    z-index: 1;
}

.fc-connector.fc-hover {
  background-color: #000;
}

.fc-edge {
      stroke: #5c96bc;
    stroke-width: 2px;
    fill: transparent;
}

.fc-edge.fc-hover {
  /* stroke: gray;
  stroke-width: 4; */
  fill: transparent;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
}

.fc-edge.fc-selected {
  /* stroke: red; */
  stroke-width: 2;
  fill: transparent;
}

.fc-edge.fc-active {
  animation: dash 5s linear infinite;
  stroke-dasharray: 20;
}

.fc-edge.fc-dragging {
  pointer-events: none;
}

.edge-endpoint {
  fill: gray;
}

.fc-nodedelete {
  display: none;
}

.fc-hover .fc-nodedelete {
  display: block;
  position: absolute;
  right: -13px;
  top: -13px;
  border: solid 2px white;

  border-radius: 50%;
  font-weight: 600;
  font-size: 15px;

  /* height: 25px; */
  padding-top: 2px;
  width: 27px;

  background: #494949;
  color: #fff;
  text-align: center;
  vertical-align: bottom;
  z-index :1;
}

